@{
    ViewData["Title"] = "About Us";
}

<div class="about-section">
    <div class="container">
        <h2 class="text-center">About <span class="highlight">Us</span></h2>
        <p class="text-center about-description">Welcome to Arkham, a leading specialist in Automation and Artificial Intelligence solutions, proudly rooted in the heart of London, UK. Since our inception in 2015, Arkham has steadfastly paved the way in the AI and automation landscape, evolving into a beacon of innovation and bespoke service delivery. With a global footprint that extends to over 300 satisfied clients, we are committed to transcending the boundaries of technology to deliver excellence and efficiency.</p>
        
        <div class="row">
            <div class="col-lg-6">
                <img src="~/images/about-img.png" alt="AI and Automation Graphic" class="about-image">
            </div>
            <div class="col-lg-6">
                <div class="mission-vision">
                    <h3>Our Mission</h3>
                    <p>Our mission is to revolutionize the way businesses operate by integrating cutting-edge Artificial Intelligence and Automation solutions. We are dedicated to enhancing our clients' capabilities, efficiency, and competitiveness through innovative technology. By providing expertly crafted, bespoke AI and Automation services, we aim to solve complex challenges, streamline operations, and empower businesses to achieve their full potential.</p>

                    <h3>Our Vision</h3>
                    <p>Our vision is to be at the forefront of the AI and Automation revolution, shaping the future of business across the globe. We aspire to create a world where technology and human ingenuity combine seamlessly to foster growth, innovation, and sustainability. Through our relentless pursuit of excellence and a commitment to continuous improvement, we strive to not only meet the evolving needs of our clients but to anticipate them, setting new standards for what is possible in business and technology.</p>

                    <a asp-controller="Pages" asp-action="Team" class="btn btn-primary">Meet the Team</a>
                </div>
            </div>
        </div>
    </div>
</div>
