@{
    ViewData["Title"] = "Our Team";
}

<div class="team-section">
    <div class="container">
        <h2 class="text-center">Our <span class="highlight">Team</span></h2>

        <div class="row text-center team-row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="team-box">
                    <img src="~/images/nate-dean.jpg" alt="Nate Dean" class="team-photo">
                    <h3>Nate Dean</h3>
                    <p>Founder / CEO</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="team-box">
                    <img src="~/images/megan-peters.jpg" alt="Megan Peters" class="team-photo">
                    <h3>Megan Peters</h3>
                    <p>Ops Director</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="team-box">
                    <img src="~/images/justin-edwards.jpg" alt="Justin Edwards" class="team-photo">
                    <h3>Justin Edwards</h3>
                    <p>IT Director</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="team-box">
                    <img src="~/images/nicole-lazzini.jpg" alt="Nicole Lazzini" class="team-photo">
                    <h3>Nicole Lazzini</h3>
                    <p>Finance Director</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
